body .container #uploadModal .upload-form #upload {margin-top: 15px; right: 0;}
body .container #form .button {margin-top: 30px;}
body .container #form .btn-success {float: right; color: white !important;}
